#todo_input , #todo_add_btn{
    padding: 0.5rem 1rem;
    border-radius: 100vh;
    border: none;
    outline: none;
    color: black;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;

}
#form_wrapper{
    gap: 0.3rem;
}
#todo_input::placeholder{
    color: rgba(0, 0, 0, 0.477);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: #939393 !important;

}
#todo_input{
    background-color: #939393;
    width: 15rem;
}

#todo_add_btn{
    color: rgba(0, 0, 0, 0.477);
    background-color: #0a8dffdf;
}
@media  screen and (max-width: 400px) {
    #todo_input , #todo_add_btn{
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
    }
    #todo_input::placeholder{
        font-size: 1rem;
    
    }
}